<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="au.id.tedp.nertz"
      android:versionCode="5"
      android:versionName="1.4"
      android:installLocation="auto"
      >
    <application android:label="@string/app_name" android:icon="@drawable/logo">
        <activity android:name="Main"
                  android:theme="@style/Inherit"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14"
        />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"
        />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"
        />
    <!-- Don't list faketouch instead of touchscreen:
         Many devices don't have "faketouch" in their feature set,
         but do have "touchscreen", so keep the default unless this gets
         fixed in the Market filtering. -->
</manifest>
