<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="au.id.tedp.nertz"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="auto"
      >
    <application android:label="@string/app_name" android:icon="@drawable/logo">
        <activity android:name="Main"
                  android:theme="@style/Inherit"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14"
        />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"
        />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"
        />
    <!-- faketouch is the crappiest level of touch screen, with a minimum
         of click down, click up & drag. This indicates that controlling
         the app without any kind of touch (eg. *just* a D-Pad) is not
         possible. -->
    <uses-feature
        android:name="android.hardware.faketouch"
        />
    <!-- A touchscreen is the minimum required by default, but Nertz
         works with faketouch devices too, so we must declare that a
         real touchscreen is not required.  -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"
        />
</manifest>
