Initial release requirements:

[x] Option to resume game on startup
[x] Legally distributable card images
[x] Top-card-under when no cards played
[x] Create top-card-under graphic
[x] Delayed opponent moves
[x] Win/lose display with new game option
[x] App Icon
[x] Display number of cards left in Nertz pile
[x] Display running scores
[x] Fix touch detection on expanded cards, especially in portrait
[x] Better card size on large (tablet) screens
[x] Speed up card pickup by keeping Card Bitmaps in memory
[x] Prompt before exiting on Back button
[x] Fix scoring failure after resume
[x] Improve layout of Lake piles in portrait when adding more columns
[x] Fun opponent names: randomly pick a famous duo, eg. Ernie & Bert,
    Bonnie & Clyde, Jekyll & Hyde, Donnie & Marie, Sherlock & Watson,
    John & Yoko, Starsky & Hutch, Tom & Jerry, Scooby & Shaggy,
    Simon & Garfunkel, Romeo & Juliet, Shawn & Gus.
[x] Fix win detection when resuming game that already has a winner.
[x] Fix double win screen
[x] Fix opponent names not retained on new game

Future features:

[ ] Rotation preference
[ ] Better top-card-under animation (higher framerate)
[ ] Better visibility of Clubs vs. Spades on mdpi screens,
    eg. big card suit on the top right.
[ ] Ads
[ ] Calculate alternative move, or try playing on the pile the previous
    player (human or AI) played on.
[ ] Large card art
    Could start by just zooming the top-left quadrant of the card and
    making that the entire size of the card.
[ ] Fix disappearing pile closing expanded pile
[x] Support "Move to SD Card"
[ ] Fix dropping onto an exact pile instead of snapping to the first
    matching pile
[ ] Show the three cards on the stream pile
[ ] "How to play" guide
[x] Better scaling of Nertz Pile counter, especially on standard &
    small screens
[ ] Show other players' cards
[ ] Visibly deal three cards at a time
[ ] Highlight recent moves
[ ] Highlight potential moves (easy mode)
[ ] Animate moves, especially opponent moves
[ ] Statistics
[ ] AI move between river piles to get covered, playable cards
