Initial release requirements:

[ ] Option to resume game on startup
[ ] Legally distributable card images
[ ] Top-card-under when no cards played
[ ] Delayed opponent moves
[ ] Win/lose display with new game option
[ ] Show other players' cards
[ ] "How to play" guide
[ ] App Icon
[ ] Display number of cards left in Nertz pile
[ ] Display score (make first deal free or start above zero?)

Future features:

[ ] Highlight recent moves
[ ] Highlight potential moves (easy mode)
[ ] Animate moves, especially opponent moves
[ ] Statistics
[ ] AI move between river piles to get covered, playable cards
